package components

templ DropdownIcon() {
	<svg
		width="0.75rem"
		height="0.75rem"
		viewBox="0 0 50 50"
		version="1.1"
		id="svg5"
		xmlns="http://www.w3.org/2000/svg"
	>
		<g
			id="layer1"
		>
			<path
				style="fill:#000000;fill-opacity:1;stroke-width:3.52777;stroke-linecap:round;stroke-linejoin:round"
				d="M 0,12.5 25.957597,37.5 50,12.5 Z"
				id="path7324"
			></path>
		</g>
	</svg>
}
