package views

import "github.com/AeronCyther/leet_tutor/internal/components"

templ About() {
	@base() {
		@AboutFragment()
	}
}

templ AboutFragment() {
	@components.Card() {
		<h1 class="text-center text-3xl">About</h1>
	}
}
